In [21]:
import pandas as pd
import json

In [33]:
df = pd.read_csv("sr_vector", sep="\t", header=None, names=["query","Q0","doc","rank", "score", "test"])

In [24]:
with open('cfquery.json') as fp:
    queries = json.load(fp)

In [38]:
rd = [ int(x) for x in queries['queries'][0]['documents'] ]
ix = queries['queries'][0]['id']

In [39]:
results = df.query(f"query == '{ix}'")
results.head()

       query    Q0   doc  rank    score   test
74219     88   Q0   1171     0  61.1827   test
74220     88   Q0     62     1  57.5339   test
74221     88   Q0    614     2  52.7154   test
74222     88   Q0    989     3  52.3820   test
74223     88   Q0    790     4  48.6372   test

In [44]:
y_preal = [ x in rd for x in results.doc ]

In [41]:
rd

[1091, 1134, 1144, 370, 443, 457, 590, 614, 668, 678, 679, 702, 945, 990]